:root {
    --firstColor: #0d66ec;
    --secondColor: #39b1b8;
    --thirdColor: rgb(228, 134, 214);
    --fourthColor: #c64b4b;
    --hoverColor: #4f8c66;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

body {
    background-image: url(background.jpg);
    font-family: Arial;
    color: white;
    font-weight: 700;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.tittle {
    font-size: 40px;
    margin-top: 1vw;
    margin-bottom: 2vh;
    text-align: left;
}

.fullwidth {
    display: flex;
    justify-content: center;
    width: 80%;
}

.whitetheme {
    max-width: 80%;
    min-height: 200px;
    margin: auto;
    background-color: var(--thirdColor);
    margin-top: 5vh;
    border-radius: 2vh;
    color: var(--fourthColor);
    padding: 1vw 1vw;
    align-items: center;
  
   
}

.darktheme {
    background-color: var(--secondColor);
    color: var(--thirdColor);
    
}

.description{
    font-size: 27px;
    align-items: left;
}



#menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .secsec{
    margin-top: 100px;
  }

  .pagetittle{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 50px;
    font-family: Arial;
    margin-top: 15vh;
  }

  .pagedescription{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 30px; 
    justify-content: right;
    align-items: right;
    align-content: right;
    margin-top: 20vh;
  }

  .imgbox{
    margin-top: 10vh;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
}